/* my style for the Etch-A-Sketch project */

#theBoard {
    display: flexbox;
    width: 900px;
    height: 900px;
    border: 4px;
    border-style: double;
    font-size: xx-large;

}

#theGrid {
    font-size: x-large;
}